{% extends '::base.html.twig' %}

 {% block centre %}

<strong>Vous êtes sur l'interface d'inscription de la Faculté Jean Monnet
<br/>UFR de Droit-Économie-Gestion de l'Université Paris Sud</strong>

<h2>Erreur !</h2>

<div>Accès interdit</div>

 {% endblock %}
