{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
<h3>Import CSV</h3>
<p><em>Importation de candidatures <u>déjà validées</u></em></p>
<p><em><font size="-1">sous forme de tableau CSV (code formation, civilité, nom, prénom, date de naissance, email, + éventuellement : téléphone, se trouve en IDF oui ou non, pays de domicile, niveau de diplôme, année obtention diplôme, n°INE, n°PSud, code CEF)</font></em></p>

                <form action="{{ path('importCSV') }}" method="post" enctype="multipart/form-data" >
                    <select size="1" name="fileType">
                        {% for oneCSV in allTypes %}
                            <option value="{{ oneCSV.id }}">{{ oneCSV.title }}</option>
                        {% endfor %}
                    </select> <br />
                    <input type="file" name="csvFile" /> <br />
                    <em>pour finir, cliquez ici :</em> <input type="submit" value="Upload" />
                 </form>
{% endblock %}
