{% extends '::base.html.twig' %}

{% block titrepage %}Espace réservé{% endblock %}

{% block centre %}

    <p>Merci de vous identifier.</p>

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <form action="{{ path('_login_check') }}" method="post" id="login">
        <div>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password" />
        </div>

        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Accéder</span>
                </span>
            </span>
        </button>
    </form>
{% endblock %}


