<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head><title>Université Paris Sud 11 - Faculté Jean Monnet - {% block title %}Aide à l'Inscription des Étudiants{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Dossier preinscription master droit economie gestion faculte jean monnet" />
<meta name="keywords" content="dossier preinscription droit ecomonie gestion universite formation etudiant etudes {% block keywords %}{% endblock %}" />
<meta name="Generator" content="GNU Emacs" />
        {% block stylesheets %}
            <link href="{{ asset('css/aide.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<!-- script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.map') }}"></script -->
<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.js') }}"></script>
</head>
<body><div id="wrapper">

<div id="menu">
{% block gauche %}

<div class="pave">
<h2>L'offre de formation</h2>
<div class="vert">
<div class="listepave">
<ul>
<li><a href="http://www.jm.u-psud.fr/fr/les_formations/l_offre_de_formation.html">L'offre de formation</a></li>
<li><a href="http://www.jm.u-psud.fr/fr/les_formations/droit.html">Formation en droit</a></li>
<li><a href="http://www.jm.u-psud.fr/fr/les_formations/economie_gestion.html">Formation en économie-gestion</a></li>
<li><a href="http://www.jm.u-psud.fr/fr/les_formations/formations-en-alternance.html">Formations en alternance</a></li>
<li><a href="http://www.jm.u-psud.fr/fr/les_formations/formation_a_distance.html">Formation enseignement à distance</a></li>
<li><a href="http://www.jm.u-psud.fr/fr/les_formations/ipag.html">Préparation aux Concours Administratifs</a></li>
</ul>
</div></div>
</div>
{% endblock %}
</div>

<div id="main">
<p class="aide">Aide à l'Inscription Des Étudiants</p>
<h1>{% block titrepage %}Aide à l'Inscription Des Étudiants{% endblock %}</h1>

{% block centre %}{% endblock %}

{% block pied %}{% endblock %}

    </div>

<script type="text/javascript">
{% block javascript %}{% endblock %}
</script>

</body>
</html>
