<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head><title>Université Paris Sud 11 - Faculté Jean Monnet - {% block title %}Aide à l'Inscription des Étudiants{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Dossier preinscription master droit economie gestion faculte jean monnet" />
<meta name="keywords" content="dossier preinscription droit ecomonie gestion universite formation etudiant etudes {% block keywords %}{% endblock %}" />
<meta name="Generator" content="GNU Emacs" />
        {% block stylesheets %}
            <link href="{{ asset('css/suivi.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.gif') }}" />
<!-- script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.map') }}"></script -->
<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.js') }}"></script>
</head>
<body><div id="suivi">

<div id="main">
<p class="aide">Aide à l'Inscription Des Étudiants</p>
<h1>{% block titrepage %}Suivi des candidatures{% endblock %}</h1>

<div id="liens_admin"> {% block droite %}
{% if is_granted('ROLE_ADMIN') %}
    <em><a href="../../../admin/dashboard">Aller à l'administration de l'application</a></em>&nbsp;/
{% endif %}
&nbsp;<a href="../../../logout">Se déconnecter</a>
{% endblock %}</div>

{% block centre %}{% endblock %}

{% block pied %}{% endblock %}

    </div>

<script type="text/javascript">
{% block javascript %}{% endblock %}
</script>

</body>
</html>
