 {% extends '::base.html.twig' %}

 {% block titrepage %}Téléchargement d'un dossier de candidature{% endblock %}

 {% block centre %}

<p><em>Votre dossier est prêt à être téléchargé. Veuillez cliquer sur le lien ci-dessous afin de le récupérer. Il vous appartiendra ensuite de le compléter et de nous le faire <strong>parvenir, au complet, le plus rapidement possible</strong>, et au plus tard le <strong>{{ date_limite }}, le cachet de la poste faisant foi</strong>, accompagné de toutes les pièces justificatives demandées&nbsp;:
</em></p>

<p><a href="{{ base_url }}/{{subdir}}/{{ chemin_pdf }}">Veuillez cliquer sur ce lien pour récupérer votre dossier de candidature</a></p>

À retourner <strong>par voie postale</strong> au plus tard {{ date_limite }} :
<br /><br />
<center>
{{ nom_service }}<br/>
Bureau {{ bureau }}<br/>
{% if adressepostale %}{{ adressepostale }}<br/>
{% else %}Faculté Jean Monnet<br/>
54 bd Desgranges<br/>
92330 Sceaux Cedex{% endif %}
</center>
<br /><br />

<em>Alternativement,</em> il est possible de déposer votre dossier directement à la Faculté, <strong>dans la boîte aux lettres du bureau {{ bureau | slice(0,3) }}</strong> du bâtiment {{ batiment }}.<br/><br/>

<p><strong>Attention : </strong>tous vos résultats, convocations et informations utiles vous seront envoyés à l'adresse électronique que vous avez fournie : surveillez votre boîte mail !;</p>

<div class="contact">Votre contact pour ce dossier :<br/>
{{ nom_contact }}<br/>
email : {{ email_contact }}<br/>
(remplacer ' AROBASE ' par '@')
 </div>

 {% endblock %}
