{% extends '::base.html.twig' %}

 {% block centre %}

<strong>Vous êtes sur l'interface d'inscription de la Faculté Jean Monnet
<br/>UFR de Droit-Économie-Gestion de l'Université Paris Sud</strong>

<!-- p><em><font color="red">NB : Les dépôts de candidatures pour 2016, sauf Master 2, sont ouverts</font></em></p -->

<p>Vous voulez vous inscrire en :
<ul>
{% for campagne in campagnes %}
<li><a href="new/{{campagne.id}}">{% if campagne.libelleetudiant %}{{campagne.libelleetudiant}}{% else %}{{campagne.nom}}{% endif %}</a></li>
{% endfor %}
</ul>

 {% endblock %}
