 {% extends '::base.html.twig' %}

{% block javascript %}
$(document).ready( function() {
    //$('#candidature_formation option').remove();
    $('#candidature_candidat_paysdom').change(function() {
        var pays = $(this).val();
   });
    $('#candidature_candidat_diplome').change(function() {
        var diplome = $(this).val();
        //url = 'optionsFormations/{{campagne.id}}/' + diplome;
        url = 'optionsFormations/' + diplome;
        $.getJSON(url, function(j){
          var options = '';
          for (var i = 0; i < j.length; i++) {
            options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>';
          }
          //$("select#candidature_formation").html(options);

    })

    });
});
{% endblock %}

 {% block titrepage %}Téléchargement d'un dossier de candidature<br/>{{campagne.libelleetudiant}}{% endblock %}

 {% block centre %}

{{ form_start(form) }}
{{ form_errors(form) }}

<fieldset><legend accesskey="p">Informations personnelles <small><a class="footnote" href="#ftn1" name="ret1">(1)</a></small></legend>

{% if affiche_ine %}
{{ form_label(form.candidat.ine) }}
{{ form_widget(form.candidat.ine,{ 'attr': {'size': '9'}} ) }}
{% endif %}
{% if affiche_upsud %}
{{ form_label(form.candidat.no_upsud) }}
{{ form_widget(form.candidat.no_upsud,{ 'attr': {'size': '6'}} ) }}
{% endif %}<br/>
{{ form_label(form.candidat.civilite) }}
{{ form_widget(form.candidat.civilite) }}
{{ form_errors(form.candidat.civilite) }}
{{ form_label(form.candidat.nom) }}
{{ form_widget(form.candidat.nom) }}
{{ form_errors(form.candidat.nom) }}
{{ form_row(form.candidat.prenom) }}
{{ form_row(form.candidat.datenaiss) }}
{{ form_label(form.candidat.paysdom) }}
{{ form_widget(form.candidat.paysdom) }}
{{ form_errors(form.candidat.paysdom) }}
{% if affiche_cef %}
{{ form_label(form.candidat.cef) }}
{{ form_widget(form.candidat.cef,{ 'attr': {'size': '6'}} ) }}
{% endif %}
{{ form_errors(form.candidat.cef) }}
{{ form_row(form.candidat.regiondom) }}

</fieldset>

<fieldset>
<legend accesskey="e">Comment vous joindre</legend>

<p>Attention : <em>vous devez fournir une adresse électronique valide</em> et si possible personnelle. C'est à cette adresse que vous seront envoyées toutes informations utiles et notamment <em>l'identifiant unique</em> qui vous permettra de visualiser en ligne les étapes de la suite qui sera donnée à votre candidature.</p>

{{ form_row(form.candidat.email) }}
{{ form_row(form.candidat.telephone) }}

</fieldset>

<fieldset>
<legend accesskey="u">Dernier diplôme obtenu</legend>

<p>Indiquez votre diplôme <em>de plus haut niveau.</em></p>

<p>Seule une indication confirmée par une pièce justificative fournie avec le dossier sera prise en compte. Si votre situation évolue, le <em>dossier papier</em> fera foi.</p>

{{ form_row(form.candidat.diplome) }}
{{ form_row(form.candidat.anneeobtentiondiplome) }}

</fieldset>

<fieldset>
<legend accesskey="d">Type de dossier demandé</legend>

<p>Choisissez la formation à laquelle vous souhaitez postuler</p>

{% if campagne.maxCandidatures %}<p><em>Attention : <strong>seulement {{ campagne.maxCandidatures|replace({'3':'trois'}) }}</strong> demandes peuvent être formulées.</em></p>{% endif %}

{{ form_row(form.formation) }}

</fieldset>

{{ form_end(form) }}

<p class="footnote"><a href="#ret1" name="ftn1">(1)</a> Les données recueillies ne seront en aucun cas divulguées et serviront exclusivement à l'envoi et au suivi de votre dossier. Conformément a la loi "Informatique et Libertes" 78-17 du 6 Janvier 1978 , vous disposez d'un droit d'acces, de rectification et d'opposition que vous pouvez exercer a tout moment auprès du Service de la scolarité</p>
<p class="footnote"><a href="#ret2" name="ftn2">(2)</a> Votre nom de naissance</p>

 {% endblock %}
