/* Style pour facule Jean Monnet, service recherche */

BODY { 
	font-size: 0.75em; /* -> env 12px, taille de référence en mode standard */
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #333;
	background: #7CAED1 url("../images/page_bkg.gif") repeat-x;  /* valeur du bleu en bas du fichier page_bkg.gif */
	margin: 0; padding: 0;
}
#wrapper { background-color: #fff; width: 895px; display: table; margin: auto; padding: 10px 20px 10px 10px }
#wrapper1 { background-color: #fff; width:100%; display: table; margin: auto; padding: 10px 20px 10px 10px }

.important {color: red; }
div.important { margin: 10px; font-size: 150% }
.aide { font-style: italic; font-size: 120%; font-weight: bold; color: #C5F5A0; background: #005992; padding: 2px 2px 3px 20px; margin-bottom: 3px; margin-top: 0; }

/* Placement */
DIV#menu { float: left; top: 15px; padding-top: 175px; background: #fff url("../images/jm.png") no-repeat left top; }
DIV#main { margin-left: 270px; padding-left: 200px; }
H1 { font-family: Verdana,sans-serif; font-size: 170%; background: #fff url(../images/page_title_bullet.gif) no-repeat left top; padding: 2px 2px 3px 20px; margin-top: 0; background: #C5F5A0; }

/* Formulaires */
FIELDSET { margin-top: 10px; background-color:#F8F8F8;}
LEGEND {
	/* color:#009999; */
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
}

INPUT {
    margin: 10px;
    white-space: nowrap;
}
FIELDSET UL LI { color: red ; font-style: italic; }

INPUT, SELECT { margin: 7px 7px 0 7px; }

TABLE INPUT { margin-top: 0; font-size: 90%; color: #444; padding-left: 1px; }

DIV#main { margin-left: 3%; }

DIV#url-retour { text-align: center; font-variant: small-caps; }

DIV.buttonbar {
    text-align: center;
    display: table;
    margin: auto;
}

.footnote{ font-size: 70%;}
P.footnote {
    font-style: italic;
    text-align: right;
    margin-right: 20px;
}

/* page d'administration */

HR {
    margin-top: 20px;
    margin-bottom: 10px;
}

#invisible { display: none; }

/* Importé de accueil.css */

A, LEGEND, H1 {
	color: #005d9d;
	color: #005992;
	text-decoration: none;
}
a:active {
	color: red;
}

/* propriétés communes des menus */
h2 {
	font-family: Arial, sans-serif;
	color: #fff;
	font-size: 0.88em; /* a remplacer par 1.17 en mode standard */
	font-weight: bold;
	background: #00A0C6;
	margin: 0;
}
ul {
 	list-style: none;
 	padding: 0; margin: 0;
}
ul li  {
	color: #000;
	font-size: 0.8em;
	line-height: 1.5em;
	border-bottom: 2px solid white;
}

#menu ul li a   {
	background: #f7f7fe url("../images/bullet_blue.png") no-repeat left center;
	text-align: left;
	padding-left: 20px;
	display: block;
}
#menu ul li a:hover,
#menu ul li a:focus,
#menu ul li a:active  { background: #fefefe url("../images/bullet_orange.png") no-repeat left center }

#menu h2   {
	margin-top:1em ;
	padding: 0 0 0 9px;
}
#menu h2 { background-image: url("../images/menu_R1.gif"); background-repeat: no-repeat; background-position: right top }
#menu h2 a { color:#FFFFFF;}
