#liens_admin { float: right; text-align: right; }

TABLE {
    margin-top : 20px;
    margin-left : 10px;
}

TR.candidat > TD {
    border: 1px solid black;
    border: inset 1px;
    padding: 3px;
    color: purple;
    background-color: #f4f4f4;
}

TD.statut {
   font-style: italic;
   max-width: 120px;
}
SPAN.pieces_manquantes {font-size: 65% ; color:#d48b11;}

TD.check { background-color: #ffff66; } 

TD.annul { background-color: #ff0000; text-align: center; border-left: 5px solid #fff; } 
                                /* ou rouge sang b73b3b */

TD.incompl { background-color: #ffa500; text-align: center; border-left: 5px solid #fff; } 
                                /* ou rouge sang b73b3b */

SPAN.refus {
   background-color: #ff0000;
   border: 1px solid #ff0000;
   margin-left: 1px;
   padding: 1px 4px;
} 

SPAN.la {
   background-color: #ffcc33;
   border: 1px solid #ffcc33;
   margin-left: 1px;
   padding: 1px 4px;
} 

SPAN.admis {
   background-color: #33cc66;
   border: 1px solid #33cc66;
   margin-left: 1px;
   padding: 1px 4px;
} 
TD.check2 {
   /* background-color: #bbcccc; */
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 8px;
}

TR.candidat > TD.nostyle {
    border: 0px;
    background-color: #ffffff;
}

DIV.button {
    text-align: right;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

SPAN.comment {
        /* color:#009999; */
    font-style: italic;
    margin-top: 4px; 
}

UL.checkbox {
    list-style-type: none;
    display: inline;
}

OL.nombre {
    margin-left: 0px;
}
OL.lettre {
    list-style-type: upper-latin;
}
OL.nombre LI { margin-left: 50px; }
OL.lettre LI { margin-left: 10px; }

SPAN.select, SPAN.checkbox, SPAN.diplome {
    padding-right: 12px;
    white-space: nowrap;
}

SPAN.diplome { 
    font-size: 65%;
}

DIV.part {
    margin-bottom: 30px;
}

OL > LI {
    margin: 20px;
}

UL > LI {
    margin-top: 5px;
}

