{% extends '::suivi.html.twig' %}

 {% block titrepage %}Admission des candidats{% endblock %}

{% block centre %}
<h1>{{ formation.nom }}</h1>

<h3>Chiffres actuels :</h3>

<ul>
<li>Admis : {{NBADMIS}} <em>({{PRCADMIS}}{% verbatim %}%{% endverbatim %})</em></li>
<li>En liste complémentaire : {{NBLA}} <em>({{PRCLA}}{% verbatim %}%{% endverbatim %})</em></li>
<li>Refusés : {{NBREFUS}} <em>({{PRCREFUS}}{% verbatim %}%{% endverbatim %})</em></li>
<li>Sans décision : {{NBNONDEC}} <em>({{PRCNONDEC}}{% verbatim %}%{% endverbatim %})</em></li>
<li>En attente de validation : {{NBNONVAL}} <em>({{PRCNONVAL}}{% verbatim %}%{% endverbatim %})</em></li>
</ul>

<div id="choix">

<p><em>La recherche est possible, soit à partir du numéro de dossier (5 derniers chiffres), soit par nom ou encore par la première lettre du nom.</em></p>

<form name="f" action="">

<span class="forminput"><label for="recherche_id_dossier">Numéro de dossier <font size="-1"><em>(5 derniers chiffres)</em></font></label> <input name="recherche_id_dossier" type="text" size="5" maxlength="5" /></span> <input type="submit" value="Lancer la recherche" />

<br />
<strong>ou</strong>
<br />

<span class="forminput"><label for="recherche_mot_nom">Nom <font size="-1"><em>(ou 1ères lettres du nom)</em></font></label> <input name="recherche_mot_nom" type="text" size="12" maxlength="25" /></span> <input type="submit" value="Lancer la recherche" />

<br />
<strong>ou</strong>
<br />

<span class="forminput"><a href="?recherche_mot_nom=A">A</a> <a href="?recherche_mot_nom=B">B</a> <a href="?recherche_mot_nom=C">C</a> <a href="?recherche_mot_nom=D">D</a> <a href="?recherche_mot_nom=E">E</a> <a href="?recherche_mot_nom=F">F</a> <a href="?recherche_mot_nom=G">G</a> <a href="?recherche_mot_nom=H">H</a> <a href="?recherche_mot_nom=I">I</a> <a href="?recherche_mot_nom=J">J</a> <a href="?recherche_mot_nom=K">K</a> <a href="?recherche_mot_nom=L">L</a> <a href="?recherche_mot_nom=M">M</a> <a href="?recherche_mot_nom=N">N</a> <a href="?recherche_mot_nom=O">O</a> <a href="?recherche_mot_nom=P">P</a> <a href="?recherche_mot_nom=Q">Q</a> <a href="?recherche_mot_nom=R">R</a> <a href="?recherche_mot_nom=S">S</a> <a href="?recherche_mot_nom=T">T</a> <a href="?recherche_mot_nom=U">U</a> <a href="?recherche_mot_nom=V">V</a> <a href="?recherche_mot_nom=W">W</a> <a href="?recherche_mot_nom=X">X</a> <a href="?recherche_mot_nom=Y">Y</a> <a href="?recherche_mot_nom=Z">Z</a></span> </form>
</div>

<div id="url-retour">
<a href="{{ path('campagne', {'id_campagne':campagne.id}) }}">Retour</a>
</div>

<hr />

<form name="g" action="{{ path('admissionconfirm', {'id_campagne':campagne.id, 'id_formation':formation.id}) }}" method="post"><div id="result">

<div class="button"><input type="submit" value="ENVOYER" /></div>

<table>
<tr><th></th><th>Civilité</th><th>Nom</th><th>Date naiss. / Num. dossier</th><th>Email / Spécialité</th><th>Diplôme</th><th>Statut</th><th>Adm./L.A./Ref.</th></tr>
{% for candidat in candidats %}
<tr class="candidat"><td><a href="" onclick="javascript:deplie({{candidat.id}})">+</a></td><td>{{candidat.civilite|replace({"f":"Madame", "m":"Monsieur"})}}</td><td>{{candidat.nom|upper}} {{candidat.prenom|title}}</td><td>{{candidat.datenaiss|date("d/m/Y")}}</td><td><input name="email{{candidat.id}}" size="35" value="{{candidat.email}}" /></td><td><span class="diplome">{% if candidat.diplome %}{{candidat.diplome.etape}}{% endif %}</span></td><td class="nostyle"></td></tr>
{% for candidature in candidat.candidatures %}
<tr class="dossier" display="{{display}}"><td colspan="3"></td><td>{% if candidature.formation.id != id_formation %}<font size="-1"><em>{% endif %}{{prefixe_dossier}}{{"%05d"|format(candidature.id)}}{% if candidature.formation.id != id_formation %}</em></font>{% endif %}</td><td colspan="2">{% if candidature.formation.id != id_formation %}{% if candidature.resultat.code > 2 %}<a href="../0/{{candidature.formation.id}}">{% else %}<a href="../../validation/0/{{candidature.formation.id}}">{% endif %}<font size="-1"><em>{% endif %}{{candidature.formation.nom}}{% if candidature.formation.id != id_formation %}</em></font></a>{% endif %}</td><td class="statut">{{candidature.resultat.code|replace({"0":"téléch.", "1":"refusé", "2":"incompl.", "3":"compl.sf sem.", "4":"vérif.", "5":"convoc.", "6":"l.a.", "7":"admis"})|raw}}</td>
{% if candidature.formation.id != id_formation %}<td>&nbsp;</td><td>&nbsp;</td>{% endif %}
{% if candidature.resultat.code==1 %}<td colspan="2"><small><em>({{candidature.motifRefus|truncate(9)}})</em></small></td>{% endif %}
{% if candidature.resultat.code==5 %}<td class="check1"><span class="admis"><input name="resul{{candidature.id}}" value="admis" type="radio"/></span><span class="la"><input name="resul{{candidature.id}}" value="la" type="radio" /></span><span class="refus"><input name="resul{{candidature.id}}" value="refus" type="radio" /></span></td><td colspan="2"><small>le {{candidature.convocation.date}} à {{candidature.convocation.heure}}, s. {{candidature.convocation.lieu}}</small></td>{% endif %}
{% if candidature.resultat.code==7 %}<td>&nbsp;</td><td>&nbsp;</td>{% endif %}
{% if candidature.formation.id == id_formation %}
{% if candidature.resultat.code==4 or candidature.resultat.code==3 %}<td class="check1"><span class="admis"><input name="resul{{candidature.id}}" value="admis" type="radio"/></span><span class="la"><input name="resul{{candidature.id}}" value="la" type="radio" /></span><span class="refus"><input name="resul{{candidature.id}}" value="refus" type="radio" /></span></td>
{% if campagne.convocationAvantAdmission %}<td class="check2">&nbsp;</td><td class="check2">conv. <input name="resul{{candidature.id}}" value="convoc" type="radio" {{candidature.convocation}} /> le <input class="date" name="date{{candidature.id}}" type="text" size="8" {% if candidature.convocation %}value="{{candidature.convocation.date}}"{% endif %} /> à <input class="heure" name="heure{{candidature.id}}" type="text" size="4" {% if candidature.convocation %}value="{{candidature.convocation.heure}}"{% endif %} /> s. <input class="date" name="lieu{{candidature.id}}" type="text" size="5" {% if candidature.convocation %}value="{{candidature.convocation.lieu}}"{% endif %} /></td>{% endif %}
{% endif %}
{% if candidature.resultat.code==6 %}<td class="check1"><span class="admis"><input name="resul{{candidature.id}}" value="admis" type="radio"/></span><span class="la">&nbsp;&nbsp;</span><span class="refus"><input name="resul{{candidature.id}}" value="refus" type="radio" /></span></td><td class="check2">&nbsp;</td>{% endif %}
{% endif %}</tr>{% endfor %}
{% endfor %}</table>

<div class="button"><input type="submit" value="ENVOYER" /></div>

</div></form>

{% endblock %}
