{% extends '::suivi.html.twig' %}

 {% block titrepage %}Admission des candidats : confirmation avant envoi des résultats{% endblock %}

{% block centre %}
<h1>{{ formation.nom }}</h1>

<div id="url-retour">
<a href="{{ path('admissioncancel', {'id_campagne':campagne.id, 'id_formation':formation.id}) }}">Retour</a>
</div>

<hr />

<form name="f" action="{{ path('admission', {'id_campagne':campagne.id, 'id_formation':formation.id}) }}" method="post"><div id="result">

<ul>{% for candidature in candidatures_a_admettre %}
  {% if loop.first %}<div class="admis"><p><strong>Candidatures que vous vous apprêtez à <font color="green" size="+1">admettre</font></strong></p><ul>{% endif %}
  <li>{{prefixe_dossier}}{{"%05d"|format(candidature.id)}} - {{candidature.candidat.nom}} {{candidature.candidat.prenom}} - {{candidature.formation.nom}}</li>
  {% if  loop.last  %}</ul></div>{% endif %}
{% endfor %}</ul>

<ul>{% for candidature in candidatures_a_la %}
  {% if loop.first %}<div class="la"><p><strong>Candidatures que vous vous apprêtez à <font color="orange" size="+1">placer en liste complémentaire</font></strong></p><ul>{% endif %}
  <li>{{prefixe_dossier}}{{"%05d"|format(candidature.id)}} - {{candidature.candidat.nom}} {{candidature.candidat.prenom}} - {{candidature.formation.nom}}</li>
  {% if  loop.last  %}</ul></div>{% endif %}
{% endfor %}</ul>

<ul>{% for candidature in candidatures_a_convoquer %}
  {% if loop.first %}<div class="convoc"><p><strong>Candidats que vous vous apprêtez à <font color="grey" size="+1">convoquer</font></strong></p><ul>{% endif %}
  <li>{{prefixe_dossier}}{{"%05d"|format(candidature.id)}} - {{candidature.candidat.nom}} {{candidature.candidat.prenom}} - {{candidature.formation.nom}} - le {{candidature.convocation.date}} à {{candidature.convocation.heure}}, s. {{candidature.convocation.lieu}}</li>
  {% if  loop.last  %}</ul></div>{% endif %}
{% endfor %}</ul>

<ul>{% for candidature in candidatures_a_refuser %}
  {% if loop.first %}<div class="refus"><p><strong>Candidatures que vous vous apprêtez à <font color="red" size="+1">refuser</font></strong></p><ul>{% endif %}
  <li>{{prefixe_dossier}}{{"%05d"|format(candidature.id)}} - {{candidature.candidat.nom}} {{candidature.candidat.prenom}} - {{candidature.formation.nom}} <select name="motif{{candidature.id}}"><option value="">Motif</option>
 {% for motif in motifs_refus %}<option value="{{motif.code}}">{{motif.libelle}}</option>{% endfor %}
</select></li>
  {% if  loop.last  %}</ul></div>{% endif %}
{% endfor %}</ul>


<p>Après avoir <strong><u>relu attentivement</u></strong>, vous pouvez maintenant confirmer en pressant ce bouton ----&gt;&nbsp;
<input type="submit" value="OK" /></p></form>

<form name="r" action="{{ path('admissioncancel', {'id_campagne':campagne.id, 'id_formation':formation.id}) }}"><p><em>Ou</em>, si quelque chose ne va pas, pour revenir à la page précédente, cliquez ici ----&gt;&nbsp;<input type="submit" value="RETOUR" /></p></form>
</div>

{% endblock %}
