 {% extends '::suivi.html.twig' %}

 {% block titrepage %}Suivi des candidatures : {{ campagne.nom }}{% endblock %}

{% block droite %}
{% if is_granted('ROLE_ADMIN') %}
    <em><a href="{{ path('admin') }}/dashboard">Aller à l'administration de l'application</a></em>&nbsp;/
{% endif %}
&nbsp;<a href="{{ path('_logout') }}">Se déconnecter</a>
{% endblock %}

 {% block centre %}

<form name="f" action="">Trier par <select name="tri"><option value="code" {{ selected_code }}>code de la spécialité</option><option value="label" {{ selected_label }}>libellé de la spécialité</option><option value="telech" {{ selected_telech }}>nombre de candidatures</option></select></form>

<p><em>Aujourd'hui, total dossiers téléchargés = <strong>{{ total_telecharges }}</strong></em></p>

<table><tr><th><a href="{{ path('campagneavectri', {'id_campagne':campagne.id, 'tri':'bycode'}) }}">Code</a></th>
<th><a href="{{ path('campagneavectri', {'id_campagne':campagne.id, 'tri':'bylabel'}) }}">Libellé</a></th>
<th><a href="{{ path('campagneavectri', {'id_campagne':campagne.id, 'tri':'bytelech'}) }}">Téléchargés</a></th>
<th><a href="{{ path('campagneavectri', {'id_campagne':campagne.id, 'tri':'byvalid'}) }}">Validés</a></th>
<th><a href="{{ path('campagneavectri', {'id_campagne':campagne.id, 'tri':'byvalidprc'}) }}">% Val.</a></th>
<th>Déc.</th><th>% Déc.</th><th></th><th></th></tr>

{% for ligne in lignes %}
<tr><td>{{ ligne.formation.code }}</td><td>{{ ligne.formation.nom }}</td>
<td><a href="{{ path('validation', {'id_campagne':campagne.id, 'id_formation':ligne.formation.id}) }}">{{ ligne.nb_total }}</a></td>
<td><a href="{{ path('admission', {'id_campagne':campagne.id, 'id_formation':ligne.formation.id}) }}">{{ ligne.nb_valides }}</a></td>
<td>{{ ligne.prc_valides }}</td>
<td>{{ ligne.nb_decision }}</td>
<td>{{ ligne.prc_decision }}</td>
<td><a href="{{ path('liste', {'id_campagne':campagne.id, 'id_formation':ligne.formation.id}) }}"><em>Liste</em></a></td>
<td><a href="{{ path('tableau', {'id_campagne':campagne.id, 'id_formation':ligne.formation.id}) }}"><em>Tableau</em></a></td></tr>
{% endfor %}
<tr><td>&nbsp;</td><td>-----------------</td><td>---</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>&nbsp;</td><td>TOTAL</td><td>{{ total_telecharges }}</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table>

 {% endblock %}
