{{candidat.civilite|replace({"f":"Madame", "m":"Monsieur"})}},

Nous avons le regret de vous informer que la commission pédagogique
après étude de votre dossier, a émis un avis défavorable pour votre
candidature en 

	    *{{formation.nom}}* 

pour le motif suivant :

	    {{motif.libelle}}

Bien cordialement.

--
UFR Droit - Economie et Gestion
{{bureau.service}}
{{bureau.description}}
Bureau {{bureau.code}}
54 Boulevard Desgranges
92330 Sceaux
