{{candidat.civilite|replace({"f":"Madame", "m":"Monsieur"})}},

Vous avez demandé l'annulation de votre dossier de candidature pour la formation {{formation.nom}}.

Nous vous informons que nous avons procédé à cette annulation.

Cordialement.

--
UFR Droit - Economie et Gestion
{{bureau.service}}
{{bureau.description}}
Bureau {{bureau.code}}
54 Boulevard Desgranges
92330 Sceaux 