{{candidat.civilite|replace({"f":"Madame", "m":"Monsieur"})}},

Comme suite à votre candidature en

{{formation.nom}}

je vous informe que le jury de sélection vous a 
inscrit{{candidat.civilite|replace({"f":"e", "m":""})}} sur la liste complémentaire.

A la clôture des inscriptions des étudiants de la liste principale, nous
vous contacterons pour vous indiquer la suite accordée à votre candidature.

Cordialement.

--
UFR Droit - Economie et Gestion
{{bureau.service}}
{{bureau.description}}
Bureau {{bureau.code}}
54 Boulevard Desgranges
92330 Sceaux 
