{{candidat.civilite|replace({"f":"Madame", "m":"Monsieur"})}} {{candidat.nom}},

La commission pédagogique a émis un avis favorable à votre candidature
pour la formation

     	 {{formation.nom}}

Afin de nous permettre de vous accueillir dans les meilleures
conditions, nous vous demandons de bien vouloir vous conformer à la
procédure suivante.

Les inscriptions administratives auront lieu du {{campagne.dateouvertureinscriptions|date('d/m')}} au {{campagne.dateclotureinscriptions|date('d/m')}},
entre 9H30 et 11H30 ou entre 13H30 et 15H45 au bureau {{campagne.bureauinscription}}.

Muni-e obligatoirement de :

  * Dossier ci-joint, dûment renseigné et complété
  * *Impérativement toutes* les pièces demandées
  * Un moyen de paiement (pas d'espèces, carte bleue de préférence)
  * La fiche pédagogique de l'année 2017-2018, que vous aurez téléchargée
    par le biais du lien suivant :
    http://www.jm.u-psud.fr/fr/les_formations/droit/licence_de_droit.html
    ou
    http://www.jm.u-psud.fr/fr/les_formations/economie_gestion/parcours_economie_gestion.html

à l'adresse suivante :

  Faculté Jean Monnet
  54 boulevard Desgranges
  Bâtiment B - Rez de chaussée-haut - Bureau B1
  92330 Sceaux

*Tout dossier incomplet sera rejeté*

Par le biais des liens suivants vous trouverez toutes les informations 
nécessaires concernant la sécurité sociale étudiante, les mutuelles et 
assurances

http://www.smerep.fr

http://www.lmde.fr/

Cordialement,
--
UFR Droit - Economie et Gestion
{{bureau.service}}
{{bureau.description}}
Bureau {{bureau.code}}
54 Boulevard Desgranges
92330 Sceaux 
