{{candidat.civilite|replace({"f":"Madame", "m":"Monsieur"})}},

Nous avons réceptionné votre dossier pour la formation 

*{{formation.nom}}*

et lui avons attribué le numéro suivant : *{{prefixe_dossier}}{{"%05d"|format(candidature.id)}}*

Malheureusement, votre dossier est incomplet.

Vous devez nous transmettre, dans les plus brefs délais ou/et dès 
que vous serez en possession du ou des document(s) demandé(s) :

{{liste_piecesmanquantes}}{{piecesmanquantes_libres}}

Nous vous remercions de préciser, pour tout envoi, vos nom, prénom, 
*formation demandée et numéro de dossier*.
Sans cette identification, les pièces ne seront pas prises en compte 
et votre dossier sera définitivement irrecevable.

--
UFR Droit - Économie et Gestion
{{bureau.service}}
{{bureau.description}}
Bureau {{bureau.code}}
54 Boulevard Desgranges
92330 Sceaux 
