{{candidat.civilite|replace({"f":"Madame", "m":"Monsieur"})}},

Nous accusons réception de votre dossier de candidature pour la formation

     *{{formation.nom}}*

Notez bien son numéro : *{{prefixe_dossier}}{{"%05d"|format(candidature.id)}}*

Votre dossier sera examiné au plus tard début juillet. Vous devrez nous
faire parvenir au plus tôt, le cas échant, *les résultats de votre dernier*
*semestre*. (Dans votre courrier, n'oubliez pas de préciser la formation
demandée ainsi que *votre numéro de dossier*).

Vous serez informé{{candidat.civilite|replace({"f":"e", "m":""})}} par
courriel du résultat de la sélection.

Si votre candidature est retenue, vous devrez compléter un dossier
d’inscription et fournir un certain nombre de documents. Aussi, pour que vous
puissiez anticiper et préparer les différents documents qui vous seront
demandés, vous trouverez ci-après la liste des pièces à fournir :

{% for pj in pieces_a_preparer %}
- {{ pj.libelle }}
{% endfor %}

Cordialement.

--
UFR Droit - Economie et Gestion
{{bureau.service}}
{{bureau.description}}
Bureau {{bureau.code}}
54 Boulevard Desgranges
92330 Sceaux
