{{candidat.civilite|replace({"f":"Madame", "m":"Monsieur"})}} {{candidat.nom}},

La commission pédagogique a émis un avis favorable à votre candidature
pour la formation

     	 {{formation.nom}}

Afin de nous permettre de vous accueillir dans les meilleures
conditions, nous vous demandons de bien vouloir vous conformer à la
procédure suivante.

Vous devrez vous présenter aux date et heure du rendez-vous que vous aurez
choisies à l'aide du lien suivant :

	 http://hebergement.u-psud.fr/rdv-eco-droit

Muni-e obligatoirement de :

  * Dossier ci-joint, dûment renseigné et complété
  * 2 photos d'identité (une pour le dossier, une pour la fiche pédagogique)
  * copie de votre pièce d'identité
  * JAPD/JDC (journée défense et citoyenneté)
  * attestation d'assurance de responsabilité civile pour l'année 2016-2017
  * copie du dernier diplôme obtenu
  * contrat d'apprentissage (seulement s'il est signé de toutes les parties)
  * *Impérativement toutes* les pièces demandées

à l'adresse suivante :

  Faculté Jean Monnet
  {{bureau_inscription.service}}
  {{bureau_inscription.description}}
  Bureau {{bureau_inscription.code}}, bâtiment A
  54 boulevard Desgranges
  92330 Sceaux

*Nous ne pourrons pas accepter les dossiers incomplets*, nous restons à votre
disposition pour tout renseignement complémentaire.

Cordialement,
--
UFR Droit - Economie et Gestion
{{bureau.service}}
{{bureau.description}}
Bureau {{bureau.code}}
tél : 01 40 91 18 26
54 Boulevard Desgranges
92330 Sceaux
