{{candidat.civilite|replace({"f":"Madame", "m":"Monsieur"})}},

Comme suite à votre demande de candidature en

      *{{formation.nom}}*

je vous informe que le jury de sélection vous recevra pour un entretien

*le {{convocation.date}} à {{convocation.heure}}*

*en salle {{convocation.lieu}}*

Adresse : Faculté Jean Monnet
54 bd Desgranges, 92330 SCEAUX

(Prendre le RER B direction ROBINSON - descendre au terminus - à 5 min de la gare)

Veuillez confirmer votre présence à l'entretien, *par retour de courriel*.

Je vous prie de croire, {{candidat.civilite|replace({"f":"Madame", "m":"Monsieur"})}}, à l'assurance de ma considération distinguée.


Le Responsable de la formation

--
UFR Droit - Economie et Gestion
{{bureau.service}}
{{bureau.description}}
Bureau {{bureau.code}}
54 Boulevard Desgranges
92330 Sceaux
