 {% extends '::suivi.html.twig' %}

 {% block titrepage %}Suivi des candidatures{% endblock %}

{% block droite %}
{% if is_granted('ROLE_ADMIN') %}
    <em><a href="{{ path('admin') }}/dashboard">Aller à l'administration de l'application</a></em>&nbsp;/
{% endif %}
&nbsp;<a href="{{ path('_logout') }}">Se déconnecter</a>
{% endblock %}

 {% block centre %}

<p><em>Aujourd'hui, total dossiers téléchargés = <strong>{{ total_telecharges }}</strong> (dont {{ total_valides }} dossiers vérifiés et {{ total_decision }} décisions)</em></p>

<p><em>Vers les pages des campagnes :</em></p>

<ul>
{% for campagne in campagnes %}
<li><a href="{{ path('campagne', {'id_campagne':campagne.id}) }}">{{campagne.nom}}</a></li>
{% endfor %}
</ul>

 {% endblock %}
