{% extends '::suivi.html.twig' %}

 {% block titrepage %}Liste des candidats{% endblock %}

{% block centre %}
<h1>{{ formation.nom }}</h1>

<h3>Chiffres actuels :</h3>

<ul>
<li>Admis : {{NBADMIS}} <em>({{PRCADMIS}}{% verbatim %}%{% endverbatim %})</em></li>
<li>En liste complémentaire : {{NBLA}} <em>({{PRCLA}}{% verbatim %}%{% endverbatim %})</em></li>
<li>Refusés : {{NBREFUS}} <em>({{PRCREFUS}}{% verbatim %}%{% endverbatim %})</em></li>
<li>Sans décision : {{NBNONDEC}} <em>({{PRCNONDEC}}{% verbatim %}%{% endverbatim %})</em></li>
<li>En attente de validation : {{NBNONVAL}} <em>({{PRCNONVAL}}{% verbatim %}%{% endverbatim %})</em></li>
</ul>

<div id="choix">

<p><em>La recherche est possible, soit à partir du numéro de dossier (5 derniers chiffres), soit par nom ou encore par la première lettre du nom.</em></p>

<form name="f" action="">

<span class="forminput"><label for="recherche_id_dossier">Numéro de dossier <font size="-1"><em>(5 derniers chiffres)</em></font></label> <input name="recherche_id_dossier" type="text" size="5" maxlength="5" /></span> <input type="submit" value="Lancer la recherche" />

<br />
<strong>ou</strong>
<br />

<span class="forminput"><label for="recherche_mot_nom">Nom </label> <input name="recherche_mot_nom" type="text" size="12" maxlength="25" /></span> <input type="submit" value="Lancer la recherche" />

<!-- span class="forminput"><a href="?recherche_mot_nom=A">A</a> <a href="?recherche_mot_nom=B">B</a> <a href="?recherche_mot_nom=C">C</a> <a href="?recherche_mot_nom=D">D</a> <a href="?recherche_mot_nom=E">E</a> <a href="?recherche_mot_nom=F">F</a> <a href="?recherche_mot_nom=G">G</a> <a href="?recherche_mot_nom=H">H</a> <a href="?recherche_mot_nom=I">I</a> <a href="?recherche_mot_nom=J">J</a> <a href="?recherche_mot_nom=K">K</a> <a href="?recherche_mot_nom=L">L</a> <a href="?recherche_mot_nom=M">M</a> <a href="?recherche_mot_nom=N">N</a> <a href="?recherche_mot_nom=O">O</a> <a href="?recherche_mot_nom=P">P</a> <a href="?recherche_mot_nom=Q">Q</a> <a href="?recherche_mot_nom=R">R</a> <a href="?recherche_mot_nom=S">S</a> <a href="?recherche_mot_nom=T">T</a> <a href="?recherche_mot_nom=U">U</a> <a href="?recherche_mot_nom=V">V</a> <a href="?recherche_mot_nom=W">W</a> <a href="?recherche_mot_nom=X">X</a> <a href="?recherche_mot_nom=Y">Y</a> <a href="?recherche_mot_nom=Z">Z</a></span> </form -->
</div>

<div id="url-retour">
<a href="../../campagne/{{campagne.id}}">Retour page de la campagne</a>
</div>

<hr />

<a href="{{ path('csv', {'id_campagne':campagne.id, 'id_formation':formation.id, 'statut':0}) }}">Extraction au format CSV</a>
<br/>
<div>Affichage des adresses email :<em>
  <a href="{{ path('emails', {'id_campagne':campagne.id, 'id_formation':formation.id, 'statut':7}) }}">admis</a>
  <a href="{{ path('emails', {'id_campagne':campagne.id, 'id_formation':formation.id, 'statut':6}) }}">liste complémentaire</a>
  <a href="{{ path('emails', {'id_campagne':campagne.id, 'id_formation':formation.id, 'statut':1}) }}">refusés</a>
</em></div>

<form name="g" action="{{ACTION}}" method="post"><div id="result">

<div class="button"><input type="submit" value="ENVOYER" /></div></form>

<table>
<tr><th>Plier/Déplier</th><th>Civilité</th><th>Nom</th><th>Date naiss. / Num. dossier</th><th>Email / Spécialité</th><th>Diplôme</th><th>Statut</th></tr>

{% for candidature in candidatures %}
<tr class="candidat"><td><a href="" onclick="javascript:deplie({{candidature.candidat.id}})">+</a></td><td>{{candidature.candidat.civilite|replace({"f":"Madame", "m":"Monsieur"})}}</td><td>{{candidature.candidat.nom|title}} {{candidature.candidat.prenom|title}}</td><td>{{candidature.candidat.datenaiss|date("d/m/Y")}}</td><td>{{candidature.candidat.email}}</td><td><span class="diplome">{{candidature.candidat.diplome}}</span></td><td class="nostyle"></td></tr>
<tr class="dossier" display="{{display}}"><td colspan="3"></td><td>{{prefixe_dossier}}{{"%05d"|format(candidature.id)}}</td><td colspan="2">{{candidature.formation.nom}}</td><td class=\"statut\">{{candidature.resultat.code|replace({"0":"téléch.", "1":"refusé", "3":"incompl.","4":"vérif.", "5":"convoc.", "6":"l.a.", "7":"admis"})|raw}}</td>
</tr>{% endfor %}</table>

</div>

{% endblock %}
