{% extends '::suivi.html.twig' %}

 {% block titrepage %}Validation des candidatures : confirmation avant envoi{% endblock %}

{% block centre %}
<h1>{{ formation.nom }}</h1>

<div id="url-retour">
<a href="{{ path('validationcancel', {'id_campagne':campagne.id, 'id_formation':formation.id}) }}">Retour</a>
</div>

<hr />

<form name="f" action="{{ path('validation', {'id_campagne':campagne.id, 'id_formation':formation.id}) }}" method="post"><div id="result">

{% if prenoms_ou_emails_modifies %}<p><strong>Modifications</strong></p>{% endif %}

{% for candidat in candidats_prenoms_modifies %}
  {% if loop.first %}<ul>{% endif %}
<li>Prénom de {{candidat.civilite|replace({"f":"Mme", "m":"M"})}} {{candidat.nom}} <font color="purple">modifié</font> en <em>{{candidat.prenom_nouv}}</em> (anciennement <em>{{candidat.prenom}}</em>)</li>
  {% if  loop.last  %}</ul>{% endif %}
{% endfor %}

{% for candidat in candidats_emails_modifies %}
  {% if loop.first %}<ul>{% endif %}
<li>Adresse électronique de {{candidat.civilite|replace({"f":"Mme", "m":"M"})}} {{candidat.nom}} <font color="purple">modifiée</font> en <em>{{candidat.email_nouv}}</em> (anciennement <em>{{candidat.email}}</em>)</li>
  {% if  loop.last  %}</ul>{% endif %}
{% endfor %}

{# début de la boucle principale #}
{% for candidature in candidatures_a_valider %}
  {% set sem_check = (candidature.resultat == 2) %}
  {% set notsem_check = (candidature.resultat != 2) %}
  {% if loop.first %}<div class="valides"><p><strong>Candidatures que vous vous apprêtez à <font color="yellow" size="+1">valider</font></strong></p><ul>{% endif %}
  <li>{{prefixe_dossier}}{{"%05d"|format(candidature.id)}} - {{candidature.candidat.nom}} {{candidature.candidat.prenom}} - {{candidature.formation.nom}} - <em>Sous réserve de valider le dernier semestre ?</em> <input name="sem{{candidature.id}}" type="radio" value="1" checked="{{ notsem_check }}" />oui <input name="sem{{candidature.id}}" type="radio" value="" checked="{{ sem_check }}" />non - <em>Concerné-e par la VAA ?</em> <input name="vaa{{candidature.id}}" type="radio" value="1" />oui <input name="vaa{{candidature.id}}" type="radio" value="" checked="1" />non</li>

  {% if  loop.last  %}</ul></div>{% endif %}
{% endfor %}

{% for candidature in dossiers_incomplets %}
  {# début de l'affichage #}
  {% if loop.first %}<div class="incomplets"><p><strong>Dossiers que vous vous apprêtez à <font color="orange" size="+1">déclarer incomplets</font></strong></p><ul>{% endif %}
  <li>{{prefixe_dossier}}{{"%05d"|format(candidature.id)}} - {{candidature.candidat.nom}} {{candidature.candidat.prenom}} - {{candidature.formation.nom}}<br/><font size="-1">Pièces manquantes :
{% for pj in pieces_manquantes_possibles %}
<br/>&nbsp;&nbsp;&nbsp;&nbsp;<input name="pm_{{pj.code}}_{{candidature.id}}" type="checkbox" {% if pj in candidature.piecesmanquantes %}checked="1"{% endif %} /> {{ pj.libelle }}
{% endfor %}
<br/>Précisions : <input name="pm_libres_{{candidature.id}}" size="60" value="{{candidature.piecesmanquanteslibres}}" /></font>

</li>
  {% if  loop.last  %}</ul></div>{% endif %}
{% endfor %}

{% for candidature in candidatures_a_annuler %}
  {% if loop.first %}<div class="annules"><p><strong>Candidatures que vous vous apprêtez à <font color="red" size="+1">supprimer</font></strong></p><ul>{% endif %}
  <li>{{prefixe_dossier}}{{"%05d"|format(candidature.id)}} - {{candidature.candidat.nom}} {{candidature.candidat.prenom}} - {{candidature.formation.nom}}</li>
  {% if  loop.last  %}</ul></div>{% endif %}
{% endfor %}


<p>Après avoir <strong><u>relu attentivement</u></strong>, vous pouvez maintenant confirmer en pressant ce bouton ----&gt;&nbsp;
<input type="submit" value="OK" /></p>

</div></form>

<form name="r" action="{{ path('validationcancel', {'id_campagne':campagne.id, 'id_formation':formation.id}) }}"><p><em>Ou</em>, si quelque chose ne va pas, pour revenir à la page précédente, cliquez ici ----&gt;&nbsp;<input type="submit" value="RETOUR" /></p></form>
</div>

{% endblock %}
