{% extends '::suivi.html.twig' %}

 {% block titrepage %}Validation des candidatures{% endblock %}

{% block centre %}
<h1>{{ formation.nom }}</h1>

<h3>Chiffres actuels :</h3>

<ul>
<li>En attente de validation : {{NBNONVAL}} <em>({{PRCNONVAL}}{% verbatim %}%{% endverbatim %})</em></li>
<li>Validés : {{NBVAL}} <em>({{PRCVAL}}{% verbatim %}%{% endverbatim %})</em></li>
<li>Compl sf Sem : {{NBCOMPLSFSEM}} <em>({{PRCCOMPLSFSEM}}{% verbatim %}%{% endverbatim %})</em></li>
<li>Incomplets : {{NBINCOMPL}} <em>({{PRCINCOMPL}}{% verbatim %}%{% endverbatim %})</em></li>
<li>Admis : {{NBADMIS}} <em>({{PRCADMIS}}{% verbatim %}%{% endverbatim %})</em></li>
<li>En liste complémentaire : {{NBLA}} <em>({{PRCLA}}{% verbatim %}%{% endverbatim %})</em></li>
<li>Refusés : {{NBREFUS}} <em>({{PRCREFUS}}{% verbatim %}%{% endverbatim %})</em></li>
</ul>

<div id="choix">

<p><em>La recherche est possible, soit à partir du numéro de dossier (5 derniers chiffres), soit par nom ou encore par la première lettre du nom.</em></p>

<form name="f" action="">

<span class="forminput"><label for="recherche_id_dossier">Numéro de dossier <font size="-1"><em>(5 derniers chiffres)</em></font></label> <input name="recherche_id_dossier" type="text" size="5" maxlength="5" /></span> <input type="submit" value="Lancer la recherche" />

<br />
<strong>ou</strong>
<br />

<span class="forminput"><label for="recherche_mot_nom">Nom <font size="-1"><em>(ou 1ères lettres du nom)</em></font></label> <input name="recherche_mot_nom" type="text" size="12" maxlength="25" /></span> <input type="submit" value="Lancer la recherche" />

<br />
<strong>ou</strong>
<br />

<span class="forminput"><a href="?recherche_mot_nom=A">A</a> <a href="?recherche_mot_nom=B">B</a> <a href="?recherche_mot_nom=C">C</a> <a href="?recherche_mot_nom=D">D</a> <a href="?recherche_mot_nom=E">E</a> <a href="?recherche_mot_nom=F">F</a> <a href="?recherche_mot_nom=G">G</a> <a href="?recherche_mot_nom=H">H</a> <a href="?recherche_mot_nom=I">I</a> <a href="?recherche_mot_nom=J">J</a> <a href="?recherche_mot_nom=K">K</a> <a href="?recherche_mot_nom=L">L</a> <a href="?recherche_mot_nom=M">M</a> <a href="?recherche_mot_nom=N">N</a> <a href="?recherche_mot_nom=O">O</a> <a href="?recherche_mot_nom=P">P</a> <a href="?recherche_mot_nom=Q">Q</a> <a href="?recherche_mot_nom=R">R</a> <a href="?recherche_mot_nom=S">S</a> <a href="?recherche_mot_nom=T">T</a> <a href="?recherche_mot_nom=U">U</a> <a href="?recherche_mot_nom=V">V</a> <a href="?recherche_mot_nom=W">W</a> <a href="?recherche_mot_nom=X">X</a> <a href="?recherche_mot_nom=Y">Y</a> <a href="?recherche_mot_nom=Z">Z</a></span> </form>
</div>

<div id="url-retour">
<a href="{{ path('campagne', {'id_campagne':campagne.id}) }}">Retour</a>
</div>

<hr />

<form name="g" action="{{ path('validationconfirm', {'id_campagne':campagne.id, 'id_formation':formation.id}) }}" method="post"><div id="result">

<div class="button"><input type="submit" value="ENVOYER" /></div>

<table>
<tr><th></th><th>Civilité</th><th>Nom</th><th>Date naiss. / Num. dossier</th><th>Email / Spécialité</th><th>Diplôme</th><th>Statut</th><th>Complet</th><th>Incompl.</th><th>Suppr.</th></tr>
{% for candidat in candidats %}
<tr class="candidat"><td><a href="" onclick="javascript:deplie({{candidat.id}})">+</a></td><td>{{candidat.civilite|replace({"f":"Madame", "m":"Monsieur"})}}</td><td>{{candidat.nom|title}} <input name="prenom{{candidat.id}}" value="{{candidat.prenom|title}}" /></td><td>{{candidat.datenaiss|date("d/m/Y")}}</td><td><input name="email{{candidat.id}}" size="35" value="{{candidat.email}}" /></td><td><span class="diplome">{{candidat.diplome.etape}}</span></td><td class="nostyle"></td></tr>
{% for candidature in candidat.candidatures %}
{% if candidature.annule !=1 %}<tr class="dossier" display="{{display}}"><td colspan="3"></td><td>{% if candidature.formation.id != id_formation %}<font size="-1"><em>{% endif %}{{prefixe_dossier}}{{"%05d"|format(candidature.id)}}{% if candidature.formation.id != id_formation %}</em></font>{% endif %}</td><td colspan="2">{% if candidature.formation.id != id_formation %}{% if candidature.resultat.code < 4 %}<a href="../0/{{candidature.formation.id}}">{% else %}<a href="../../admission/0/{{candidature.formation.id}}">{% endif %}<font size="-1"><em>{% endif %}{{candidature.formation.nom}}{% if candidature.formation.id != id_formation %}</em></font></a>{% endif %}</td><td class="statut">{{candidature.resultat.code|replace({"0":"téléch.", "4":"vérif.", "2":"incompl.", "3" :"compl.sf sem.", "1":"refusé", "5":"convoc.", "6":"l.a", "7":"admis"})|raw}}{% if candidature.resultat.code==2 %}<br/><span class="pieces_manquantes">{{candidature.codespiecesmanquantes|join(',')}}{% if candidature.piecesmanquanteslibres %} ({{candidature.piecesmanquanteslibres}}){% endif %}</span>{% endif %}</td>
{% if candidature.formation.id == id_formation %}
{% if candidature.resultat.code!=4 %}<td class="check">--&gt;<input name="verif{{candidature.id}}" type="radio" value="valide" /></td><td class="incompl"><input name="verif{{candidature.id}}" type="radio" value="incomplet" /></td><td class="annul"><input name="verif{{candidature.id}}" type="radio" value="annule" /></td>{% endif %}
{% endif %}</tr>{% endif %}{% endfor %}
{% endfor %}</table>

<div class="button"><input type="submit" value="ENVOYER" /></div>

</div></form>

{% endblock %}
